
@{
    Layout = null;
}

<!DOCTYPE html>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- So that mobile will display zoomed in -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- enable media queries for windows phone 8 -->
    <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->
    <title>Announcing New Website, New Brand</title>

    <style type="text/css">
                body {
                    margin: 0;
                    padding: 0;
                    -ms-text-size-adjust: 100%;
                    -webkit-text-size-adjust: 100%;
                }

                table {
                    border-spacing: 0;
                }

                    table td {
                        border-collapse: collapse;
                    }

                .ExternalClass {
                    width: 100%;
                }

                    .ExternalClass,
                    .ExternalClass p,
                    .ExternalClass span,
                    .ExternalClass font,
                    .ExternalClass td,
                    .ExternalClass div {
                        line-height: 100%;
                    }

                .ReadMsgBody {
                    width: 100%;
                    background-color: #ebebeb;
                }

                table {
                    mso-table-lspace: 0pt;
                    mso-table-rspace: 0pt;
                }

                img {
                    -ms-interpolation-mode: bicubic;
                }

                .yshortcuts a {
                    border-bottom: none !important;
                }

                @@media only screen and (max-width: 600px) {
                    *[class="gmail-fix"] {
                        display: none !important;
                    }
                }

                @@media screen and (max-width: 599px) {
                    table[class="force-row"],
                    table[class="container"] {
                        width: 100% !important;
                        max-width: 100% !important;
                    }

                    table[class="force-row two"] {
                        width: 50% !important;
                        max-width: 50% !important;
                    }
                }

                @@media screen and (max-width: 400px) {
                    td[class*="container-padding"] {
                        padding-left: 12px !important;
                        padding-right: 12px !important;
                    }
                }

                .ios-footer a {
                    color: #aaaaaa !important;
                    text-decoration: underline;
                }

                @@media screen and (max-width: 599px) {
                    td[class="col"] {
                        width: 50% !important;
                        text-align: center;
                    }

                    td[class="cols-wrapper"] {
                        padding-top: 18px;
                    }

                    img[class="image"] {
                        padding-bottom: 10px;
                    }
                    /*
        img[class="image"] {
            float: right;
            max-width: 40% !important;
            height: auto !important;
            margin-left: 12px;
          }
        */

                    div[class="subtitle"] {
                        margin-top: 0 !important;
                    }
                }

                @@media screen and (max-width: 400px) {
                    td[class="cols-wrapper"] {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }

                    td[class="content-wrapper"] {
                        padding-left: 12px !important;
                        padding-right: 12px !important;
                    }
                }
    </style>

</head>
<body style="margin:0; padding:0;" bgcolor="#e1e1e1" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

    <!-- 100% background wrapper (grey background) -->
    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#e1e1e1">
        <tr>
            <td align="center" valign="top" bgcolor="#e1e1e1" style="background-color: #e1e1e1;">

                <br>

                <!-- 600px container (white background) -->
                <table border="0" width="600" cellpadding="0" cellspacing="0" class="container" style="width:600px;max-width:600px">
                    @*<tr class="gmail-fix">
                            <td>
                                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
                                    <tr>
                                        <td cellpadding="0" cellspacing="0" border="0" height="1" ; style="line-height: 1px; min-width: 600px;">
                                            <img src="http://coloredge.com/newsletters/2015/06/images/spacer.gif" width="600" height="1" style="display: block; max-height: 1px; min-height: 1px; min-width: 600px; width: 600px;" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>*@
                    @*<tr>
                            <td class="container-padding header" align="center" style="font-family:Helvetica, Arial, sans-serif;font-size:10px !important;padding-bottom:12px;color:#000;padding-left:24px;padding-right:24px;text-align:center;">
                                Explore the endless Studio Services possibilities<br>
                                Having trouble viewing this email? <a href="http://coloredge.com/newsletters/2015/06/email.html" style="color:#f0782d;">View in Web Browser</a>

                            </td>
                        </tr>*@
                    <tr>
                        <td class="content" align="left" style="background-color:#ffffff">

                            <table width="600" border="0" cellpadding="0" cellspacing="0" class="force-row" style="width: 600px;">
                                <tr>
                                    <td align="center">
                                        <a href="#" title="Coloredge">
                                            <img style=" width: 25%;padding-top:40px" src="~/images/header/astroho.png">
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-wrapper" style="padding-left:24px;padding-right:24px;text-align: center;">
                                        <p style="font-family:sans-serif;text-align: left;font-size: 14px !important;margin-top: 15px; line-height: 1.4;">You are receiving this email because you have requested the password for your online account to be reset.</p>
                                        <p style="font-family:sans-serif;text-align: left;font-size: 14px !important;margin-top: 15px; line-height: 1.4;">Please click on the link below to change your account password.</p>
                                        <p href="#" title="Astrohouz" style="font-family:sans-serif;text-align: left;font-size: 14px !important;margin-top: 15px; line-height: 1.4;">Your password recovery link: <a href="#">https://astrohouz.com/Email/forgetmail </a></p>

                                        <p style="font-family:sans-serif;font-size: 14px !important;margin-top: 15px;text-align: left; margin-bottom: 15px;line-height: 1.4 !important;">Suggest you create a strong password using the link.</p>
                                        <p style="font-family:sans-serif;font-size: 14px !important;margin-top: 15px;text-align: left; line-height: 1.4;">if you have any questions or concerns, please do not hesitate to contact us for assistance at <a href="#" title="Astrohouz" style="color:#f0782d;font-weight: bold;text-decoration:none;">support@astrohouz.com</a></p><br>
                                        <p style="font-family:sans-serif;font-size: 14px !important;margin-top: 15px;text-align: left; line-height: 1.4;">Thank you, <br />Team Astrohouz. <a href="#" title="Astrohouz" style="color:#f0782d;font-weight: bold;text-decoration:none;"></a></p><br>
                                        <hr style="border-bottom: solid 1px #000; border-top: 0;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-wrapper" style="padding-left:12px;padding-right:12px">
                                        <br>
                                        <p style="text-transform:unset;font-family:sans-serif;font-size: 18px !important;margin-top: 15px; margin-bottom: 15px;text-align: center;">
                                            Need Help?<br />
                                            Reach us at   <span href="#" title="Astrohouz" style="color:#f0782d;font-weight: bold;text-decoration:none;">support@astrohouz.com</span>

                                        </p>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td class="cols-wrapper" style="padding-left:12px;padding-right:12px">

                                            <table width="192" border="0" cellpadding="0" cellspacing="0" align="left" class="force-row two" style="width: 192px;">
                                                <tr>
                                                    <td class="col" valign="top" style="padding-left:12px;padding-right:12px;padding-top:18px;padding-bottom:12px">
                                                        <a href="http://coloredge.com/imaging-and-display/" style="text-decoration:none;border:0;outline:none;">
                                                            <img src="http://coloredge.com/newsletters/2015/06/images/imaging-and-display.jpg" border="0" alt="Imaging &amp; Display" width="168" hspace="0" vspace="0" style="max-width:100%; " class="image">
                                                            <div class="subtitle" style="font-family:Helvetica, Arial, sans-serif;font-size:12px !important;color:#000;margin-top:8px;text-transform: uppercase;text-align: center">Imaging &amp; Display</div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>



                                            <table width="192" border="0" cellpadding="0" cellspacing="0" align="left" class="force-row two" style="width: 192px;">
                                                <tr>
                                                    <td class="col" valign="top" style="padding-left:12px;padding-right:12px;padding-top:18px;padding-bottom:12px">
                                                        <a href="http://coloredge.com/studio-services/" style="text-decoration:none;border:0;outline:none;">
                                                            <img src="http://coloredge.com/newsletters/2015/06/images/studio-services.jpg" border="0" alt="Studio Services " width="168" hspace="0" vspace="0" style="max-width:100%; " class="image">
                                                            <div class="subtitle" style="font-family:Helvetica, Arial, sans-serif;font-size:12px !important;color:#000;margin-top:8px;text-transform: uppercase;text-align: center">Studio Services </div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>


                                            <table width="192" border="0" cellpadding="0" cellspacing="0" align="left" class="force-row two" style="width: 192px;">
                                                <tr>
                                                    <td class="col" valign="top" style="padding-left:12px;padding-right:12px;padding-top:18px;padding-bottom:12px">
                                                        <a href="http://coloredge.com/portfolio/" style="text-decoration:none;border:0;outline:none;">
                                                            <img src="http://coloredge.com/newsletters/2015/06/images/portfolio.jpg" border="0" alt="Portfolio" width="168" hspace="0" vspace="0" style="max-width:100%; " class="image">
                                                            <div class="subtitle" style="font-family:Helvetica, Arial, sans-serif;font-size:12px !important;color:#000;margin-top:8px;text-transform: uppercase;text-align: center">Portfolio</div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>

                                            <table width="192" border="0" cellpadding="0" cellspacing="0" align="left" class="force-row two" style="width: 192px;">
                                                <tr>
                                                    <td class="col" valign="top" style="padding-left:12px;padding-right:12px;padding-top:18px;padding-bottom:12px">
                                                        <a href="http://coloredge.com/studio-services/technology/" style="text-decoration:none;border:0;outline:none;">
                                                            <img src="http://coloredge.com/newsletters/2015/06/images/technology.jpg" border="0" alt="Technology" width="168" hspace="0" vspace="0" style="max-width:100%; " class="image">
                                                            <div class="subtitle" style="font-family:Helvetica, Arial, sans-serif;font-size:12px !important;color:#000;margin-top:8px;text-transform: uppercase;text-align: center">Technology </div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>

                                            <table width="192" border="0" cellpadding="0" cellspacing="0" align="left" class="force-row two" style="width: 192px;">
                                                <tr>
                                                    <td class="col" valign="top" style="padding-left:12px;padding-right:12px;padding-top:18px;padding-bottom:12px">
                                                        <a href="http://coloredge.com/imaging-and-display/digital-signage//" style="text-decoration:none;border:0;outline:none;">
                                                            <img src="http://coloredge.com/newsletters/2015/06/images/digital-signage.jpg" border="0" alt="Digital Signage" width="168" hspace="0" vspace="0" style="max-width:100%; " class="image">
                                                            <div class="subtitle" style="font-family:Helvetica, Arial, sans-serif;font-size:12px !important;color:#000;margin-top:8px;text-transform: uppercase;text-align: center">Digital Signage</div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>

                                            <table width="192" border="0" cellpadding="0" cellspacing="0" align="left" class="force-row two" style="width: 192px;">
                                                <tr>
                                                    <td class="col" valign="top" style="padding-left:12px;padding-right:12px;padding-top:18px;padding-bottom:12px">
                                                        <a href="http://coloredge.com/news/" style="text-decoration:none;border:0;outline:none;">
                                                            <img src="http://coloredge.com/newsletters/2015/06/images/news.jpg" border="0" alt="News" width="168" hspace="0" vspace="0" style="max-width:100%; " class="image">
                                                            <div class="subtitle" style="font-family:Helvetica, Arial, sans-serif;font-size:12px !important;color:#000;margin-top:8px;text-transform: uppercase;text-align: center">News </div>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>*@
                                <tr>
                                    <td style="background:#fff;text-align:center;width:100%;height:15px;"></td>
                                </tr>
                                <tr>
                                    <td class="content-wrapper" style="padding-left:24px;padding-right:24px;text-align: center;" align="center">
                                        <hr style="border-bottom: solid 1px #000; border-top: 0;">
                                        <br>
                                        <p style="text-transform:none;font-family:sans-serif;font-size: 14px !important;margin-top:0; margin-bottom: 15px;text-align: center;">Do not reply to this email. This email is sent from a notification only address that cannot accept incoming emails.</p>
                                        <div>
                                            <!--[if mso]>
                                              <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="mailto:marketing@coloredge.com" style="height:47px;v-text-anchor:middle;width:124px;" stroke="f" fillcolor="#f4791f">
                                                <w:anchorlock/>
                                                <center>
                                              <![endif]-->
                                            @*<a href="mailto:nae@coloredge.com"
                                                   style="background-color:#f4791f;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:47px;text-align:center;text-decoration:none;width:124px;-webkit-text-size-adjust:none;">EMAIL US
                                                </a>*@
                                            <!--[if mso]>
                                                </center>
                                              </v:rect>
                                            <![endif]-->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background:#fff;text-align:center;width:100%;height:25px;"></td>
                                </tr>
                                <!--
                                <tr>
                                    <td bgcolor="#282727">
                                      <div style="font-family:Helvetica, Arial, sans-serif;font-size:14px !important;color:#ffffff;margin-top:18px;margin-bottom:18px;text-align: center;text-transform: uppercase">Questions? <a href="mailto:marketing@coloredge.com" style="color:#f0782d;text-decoration: none;">Contact us</a>
                                      </div>
                                    </td>
                                  </tr>
                                -->
                                <tr>
                                    <td style="background:#e1e1e1;text-align:center;width:100%;height:15px;"></td>
                                </tr>
                                <tr>
                                    <td style="background:#e1e1e1;text-align: center;">
                                        <a href="#" target="_blank" title="Facebook"><img src="http://coloredge.com/newsletters/2015/06/images/Facebook.jpg" width="50" height="46" alt="Facebook"></a>
                                        <a href="#" target="_blank" title="Twitter"><img src="http://coloredge.com/newsletters/2015/06/images/Twitter.jpg" width="50" height="46" alt="Twitter"></a>
                                        <a href="#" target="_blank" title="LinkedIn"><img src="http://coloredge.com/newsletters/2015/06/images/LinkedIn.jpg" width="50" height="46" alt="LinkedIn"></a>
                                        @*<a href="#" target="_blank" title="Vimeo"><img src="http://coloredge.com/newsletters/2015/06/images/Vimeo.jpg" width="50" height="46" alt="Vimeo"></a>*@

                                    </td>
                                </tr>
                                <tr>
                                    <td style="background:#e1e1e1;text-align:center;width:100%;height:5px;"></td>
                                </tr>
                                <tr>
                                    <td style="background:#e1e1e1;text-align:center;">
                                        <div style="font-family:Helvetica, Arial, sans-serif;font-size:10px !important;color:#000000;text-align: center;line-height:1.4;">
                                            Astrohouz.com<br>
                                            Copyright  © Astrohouz 2021. All rights reserved.<br>
                                            <a href="*|UNSUB|*" style="color:#000;text-decoration:underline">Terms and Conditions/ Contact Us/ Privacy Policy</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background:#e1e1e1;text-align:center;width:100%;height:30px;"></td>
                                </tr>

                            </table>

                        </td>
                    </tr>


                </table><br><br><br><br>
                <!--/600px container -->


            </td>
        </tr>
    </table>
    <!--/100% background wrapper-->

</body>
</html>
