@model Pandit_ApplicationEntity.BookingFormModel

@{
    ViewBag.Title = "BookingForm";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>Booking Form</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    <!--<ul>
                        <li><a href="#">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                        <li>Forms</li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs contact form Start -->
<div class="hs_contact_indx_form_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">
                        @*<h2>Booking<span> Form</span></h2>*@
                        <h4><span></span></h4>
                        <p style="border-bottom: 1px dashed #cecece;">Fill in the details for whom the service is booked.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label> Full Name</label>
                    <input type="text">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Gender</label>
                    <input type="email">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Date Of Birth</label>
                    <input type="text">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Time Of Birth</label>
                    <input type="email">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Place Of Birth</label>
                    <input type="email">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Topic For Call</label>
                    <input type="email">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Mobile</label>
                    <input type="email">
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:50px">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_about_heading_main_wrapper">
                    <div class="hs_about_heading_wrapper">

                        <p style="border-bottom: 1px dashed #cecece;">Choose your slot to book your call.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Date</label>
                    <input type="email">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Time</label>
                    <input type="email">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Minutes</label>
                    <input type="email">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Total Cost</label>
                    <input type="email">
                </div>
            </div>


            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_kd_six_sec_input_wrapper">
                    <label>Message</label>
                    <textarea rows="6"></textarea>
                </div>
            </div>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_contact_indx_form_btn">
                    <ul>
                        <li><a href="#">Add to Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs contact form End -->