
@{
    ViewBag.Title = "Calendar";
}
<style>
    .hs_chinese_main_wrapper {
        background: url('../images/content/testi_bg.jpg') 50% 0 repeat-y;
        background-position: center 0;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        float: left;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .hs_sign_left_tabs_wrapper .hs_slider_tabs_icon_wrapper i:before {
        margin-left: 0;
        color: #ffffff;
        font-size: 30px;
    }
</style>

<!-- hs Navigation End -->
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>Calendar</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs chinese wrapper Start -->
<div class="hs_chinese_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_kd_first_sec_wrapper">


                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_cn_icon_wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                                <div class="hs_slider_tabs_icon_wrapper hs_cn_tabs_icon_wrapper">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                    <ul>
                                        <li><a href="/FestivalCalendar/FestivalCalendar" class="hs_tabs_btn">Hindu <br />Calendar</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                                <div class="hs_slider_tabs_icon_wrapper hs_cn_tabs_icon_wrapper">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                    <ul>
                                        <li><a href="/TamilCalendar/TamilCalendar" class="hs_tabs_btn">Tamil <br />Calendar</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                                <div class="hs_slider_tabs_icon_wrapper hs_cn_tabs_icon_wrapper">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                    <ul>
                                        <li><a href="/MalyalamCalendar/MalyalamCalendar" class="hs_tabs_btn">Malyalam <br />Calendar</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                                <div class="hs_slider_tabs_icon_wrapper hs_cn_tabs_icon_wrapper">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                    <ul>
                                        <li><a href="/Gujarati/Gujarati" class="hs_tabs_btn">Gujarati <br />Calendar</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                                <div class="hs_slider_tabs_icon_wrapper hs_cn_tabs_icon_wrapper">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                    <ul>
                                        <li><a href="/BengaliCalendar/BengaliCalendar" class="hs_tabs_btn">Bengali <br />Calendar</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                                <div class="hs_slider_tabs_icon_wrapper hs_cn_tabs_icon_wrapper">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                    <ul>
                                        <li><a href="/Telugu/Telugu" class="hs_tabs_btn">Telugu <br />Calendar</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                                <div class="hs_slider_tabs_icon_wrapper hs_cn_tabs_icon_wrapper">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                    <ul>
                                        <li><a href="/MarathiCalendar/MarathiCalendar" class="hs_tabs_btn">Marathi <br />Calendar</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                                <div class="hs_slider_tabs_icon_wrapper hs_cn_tabs_icon_wrapper">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                    <ul>
                                        <li><a href="/JainCalendar/JainCalendar" class="hs_tabs_btn">Jain <br />Calendar</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                                <div class="hs_slider_tabs_icon_wrapper hs_cn_tabs_icon_wrapper">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                    <ul>
                                        <li><a href="/OriyaCalendar/OriyaCalendar" class="hs_tabs_btn">Oriya <br />Calendar</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_cn_tabs_wrapper">
                                <div class="hs_slider_tabs_icon_wrapper hs_cn_tabs_icon_wrapper">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper">
                                    <ul>
                                        <li><a href="/KannadCalendar/KannadCalendar" class="hs_tabs_btn">Kannad <br />Calendar</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
<!-- hs chinese wrapper End -->