@model Pandit_ApplicationEntity.FooterModel

@{
    ViewBag.Title = "OurStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    /*input[type="text"] {
            width: 4em;
            margin: .5em 0 0 0;
            padding: .5em;
        }

        label {
            display: block;
        }*/
    .modal-contents {
        border: 1px solid #ff7e00;
        padding: 6%;
        border-radius: 3px;
        z-index: 999999;
        opacity: 999999;
        box-shadow: 0 2px 16px 0 #ff7e00;
        border-radius: 6px;
        margin-bottom: 6%;
        min-height: 262px;
        margin: 3px;
    }

    label {
        font-weight: normal;
    }

    .button {
        background-color: #ff880e;
        border: 1px solid #ff880e;
        color: white;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        /*opacity: 0.6;*/
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        line-height: 20px;
        text-transform: uppercase;
        border-radius: 50px;
        width: 235px;
        height: 50px;
    }

        .button:hover {
            opacity: 1;
            background-color: #fff;
            color: #ff7e00;
            border: 1px solid #ff880e;
        }
</style>
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>Our story and Message from our CEO & Co- Founder</h2>
                </div>
            </div>
           
        </div>
    </div>
</div>

<div class="hs_contact_indx_form_main_wrapper" style="padding-top: 50px;">
    <div class="container">
        <div class="modal-contents">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="hs_ar_first_sec_wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="hs_ar_first_sec_img_wrapper">
                                    <img src="~/images/content/kundali/aries_img.jpg" alt="arlies_img" />
                                </div>
                                <p style="text-align:center">
                                    <b style="color:#ff7e00">
                                        Amrita Kumar
                                    </b><br />
                                    <b style="color:#ff7e00">
                                        CEO & Co-Founder- AstroHouz
                                    </b>

                                </p>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

                                <div class="hs_ar_first_sec_img_cont_wrapper">

                                    <p>
                                        Moving to the USA in 2014, a part of my heart missed India where I could easily connect to my culture, practices, and beliefs. Then came 2020, fortuitously, “pandemic “and “virtual “words led me to discover “AstroHouz”! It is fascinating how powerful and enlightening astrology can be to simplify your gravest problem in no time.<br /><br />
                                        Being a global citizen and a true Indian at heart, spiritual at mind and ardent believer of God and karma, my passion for astrology and stars started when I was growing up in a family where every auspicious work and new beginnings were planned on the table of an astrologer or a pundit, specialists of these fields! Hence, blessed with a beautiful childhood, successful love marriage, and a wonderful family I dare not fumble to shout "Only your stars can make you a star!"
                                    </p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <br>
                    <p>
                        You can find everything on this platform from talking or chatting to a specialist to getting a puja done. I hope you find this platform helpful and enjoy your journey of life with us. Your suggestions are always welcomed!


                    </p>
                    <br>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <br>
                    <p>
                        <b>
                            Happy AstroHouz!<br />
                        </b>

                    </p>
                    <br>

                </div>

            </div>

        </div>
    </div>
</div>
