@model Pandit_ApplicationEntity.PaymentModel

@{
    Layout = "~/Views/Shared/_layoutAdminPortal.cshtml";
}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/CustomJS/PaymentJS.js"></script>

<script>
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function xyz(a) {
        debugger
        if (a == 1) {
            document.getElementById('label_id_firsty').style.backgroundColor = "#049973";
            document.getElementById('label_id_secondy').style.backgroundColor = "#03c895";
        }
        else {
            document.getElementById('label_id_firsty').style.backgroundColor = "#03c895";
            document.getElementById('label_id_secondy').style.backgroundColor = "#049973";
        }


    }

    function xyz3(a) {
        debugger
        if (a == 1) {
            document.getElementById('label_id_firsty2').style.backgroundColor = "#202d85";
            document.getElementById('label_id_secondy2').style.backgroundColor = "#049973";

        }
        else {
            document.getElementById('label_id_firsty2').style.backgroundColor = "#049973";
            document.getElementById('label_id_secondy2').style.backgroundColor = "#202d85";


        }

    }



</script>

<script>
    $(document).ready(function () {
        $("#mytable #checkall").click(function () {
            if ($("#mytable #checkall").is(':checked')) {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
                $("#mytable input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });

        $("[data-toggle=tooltip]").tooltip();
    });

</script>
<script>
    jQuery(document).ready(function($) {


    var hash = window.location.hash.replace("#", "");

    /* Tabs ------------------------------------------------------------------------------------------------------------ */
    var $tabs = $(".js-tabs"),
        $body = $("body");

    if ($tabs.length) {

        var $tab_list = $tabs.find(".js-tablist");
        $tab_list.each(function() {
            var $this_tab_list = $(this),
                options = $this_tab_list.data(),
                $tabs_prefix_classes = typeof options.tabsPrefixClass !== 'undefined' ? options.tabsPrefixClass + '-' : '',
                $hx = typeof options.hx !== 'undefined' ? options.hx : '',
                $existing_hx = typeof options.existingHx !== 'undefined' ? options.existingHx : '',
                $this_tab_list_items = $this_tab_list.children(".js-tablist__item"),
                $this_tab_list_links = $this_tab_list.find(".js-tablist__link");

            // roles init
            $this_tab_list.attr("role", "tablist"); // ul
            $this_tab_list_items.attr("role", "presentation"); // li
            $this_tab_list_links.attr("role", "tab"); // a

            // classes init
            $this_tab_list.addClass($tabs_prefix_classes + 'tabs__list');
            $this_tab_list_items.addClass($tabs_prefix_classes + 'tabs__item');
            $this_tab_list_links.addClass($tabs_prefix_classes + 'tabs__link');

            // controls/tabindex attributes
            $this_tab_list_links.each(function() {
                var $this = $(this),
                    $hx_generated_class = typeof options.tabsGeneratedHxClass !== 'undefined' ? options.tabsGeneratedHxClass : 'invisible',
                    $href = $this.attr("href"),
                    $controls = $($href),
                    $text = $this.text();

                if ($hx !== "") {
                    $controls.prepend('<' + $hx + ' class="' + $hx_generated_class + '" tabindex="0">' + $text + '</' + $hx + '>');
                }
                if ($existing_hx !== "") {
                    $controls.find($existing_hx + ':first-child').attr('tabindex', 0);
                }
                if (typeof $href !== "undefined" && $href !== "" && $href !== "#") {
                    $this.attr({
                        "aria-controls": $href.replace("#", ""),
                        "tabindex": -1,
                        "aria-selected": "false"
                    });
                }

                $this.removeAttr("href");

            });
        });

        /* Tabs content ---------------------------------------------------------------------------------------------------- */
        $(".js-tabcontent").attr({
                "role": "tabpanel", // contents
                "aria-hidden": "true" // all hidden
                //"tabindex": 0
            })
            .each(function() {
                var $this = $(this),
                    $this_id = $this.attr("id"),
                    $prefix_attribute = $("#label_" + $this_id).closest('.js-tablist').attr('data-tabs-prefix-class'),
                    $tabs_prefix_classes = typeof $prefix_attribute !== 'undefined' ? $prefix_attribute + '-' : '';
                // label by link
                $this.attr("aria-labelledby", "label_" + $this_id);

                $this.addClass($tabs_prefix_classes + 'tabs__content');
            });

        // search if hash is ON not disabled tab
        if (hash !== "" && $("#" + hash + ".js-tabcontent").length !== 0) {
            if ($("#label_" + hash + ".js-tablist__link:not([aria-disabled='true'])").length) {
                // display not disabled
                $("#" + hash + ".js-tabcontent").removeAttr("aria-hidden");
                // selection menu
                $("#label_" + hash + ".js-tablist__link").attr({
                    "aria-selected": "true",
                    "tabindex": 0
                });
            }

        }
        // search if hash is IN not disabled tab
        if (hash !== "" && $("#" + hash).parents('.js-tabcontent').length) {
            var $this_hash = $("#" + hash),
                $tab_content_parent = $this_hash.parents('.js-tabcontent'),
                $tab_content_parent_id = $tab_content_parent.attr('id');

            if ($("#label_" + $tab_content_parent_id + ".js-tablist__link:not([aria-disabled='true'])").length) {
                $tab_content_parent.removeAttr("aria-hidden");
                // selection menu
                $("#label_" + $tab_content_parent_id + ".js-tablist__link").attr({
                    "aria-selected": "true",
                    "tabindex": 0
                });
            }
        }

        // search if data-selected="1" is on a not disabled tab for each tab system
        $tabs.each(function() {
            var $this = $(this),
                $tab_selected = $this.find('.js-tablist__link[aria-selected="true"]'),
                $tab_data_selected = $this.find('.js-tablist__link[data-selected="1"]:not([aria-disabled="true"]):first'),
                $tab_data_selected_content = $('#' + $tab_data_selected.attr('aria-controls'));

            if ($tab_selected.length === 0 && $tab_data_selected.length !== 0) {
                $tab_data_selected.attr({
                    "aria-selected": "true",
                    "tabindex": 0
                });
                $tab_data_selected_content.removeAttr("aria-hidden");
            }
        });

        // if no selected => select first not disabled
        $tabs.each(function() {
            var $this = $(this),
                $tab_selected = $this.find('.js-tablist__link[aria-selected="true"]'),
                $first_link = $this.find('.js-tablist__link:not([aria-disabled="true"]):first'),
                $first_content = $('#' + $first_link.attr('aria-controls'));

            if ($tab_selected.length === 0) {
                $first_link.attr({
                    "aria-selected": "true",
                    "tabindex": 0
                });
                $first_content.removeAttr("aria-hidden");
            }
        });

        /* Events ---------------------------------------------------------------------------------------------------------- */
        /* click on a tab link */
        $body.on("click", ".js-tablist__link[aria-disabled='true']", function() {
            return false;
        });
        $body.on("click", ".js-tablist__link:not([aria-disabled='true'])", function(event) {
                var $this = $(this),
                    $hash_to_update = $this.attr("aria-controls"),
                    $tab_content_linked = $("#" + $this.attr("aria-controls")),
                    $parent = $this.closest(".js-tabs"),
                    options = $parent.data(),
                    tabs_disable_fragments = typeof options.tabsDisableFragment !== 'undefined' ? true : false,
                    $all_tab_links = $parent.find("> .js-tablist > .js-tablist__item > .js-tablist__link"),
                    $all_tab_contents = $parent.find("> .js-tabcontent");

                // aria selected false on all links
                $all_tab_links.attr({
                    "tabindex": -1,
                    "aria-selected": "false"
                });

                // add aria selected on $this
                $this.attr({
                    "aria-selected": "true",
                    "tabindex": 0
                });

                // add aria-hidden on all tabs contents
                $all_tab_contents.attr("aria-hidden", "true");

                // remove aria-hidden on tab linked
                $tab_content_linked.removeAttr("aria-hidden");

                // add fragment (timeout for transitions)
                if (tabs_disable_fragments === false) {
                    setTimeout(function() {
                        history.pushState(null, null, location.pathname + location.search + '#' + $hash_to_update)
                    }, 1000);
                }

                event.preventDefault();
            })
            /* Key down in tabs */
            .on("keydown", ".js-tablist", function(event) {

                var $parent = $(this).closest('.js-tabs'),
                    $activated = $parent.find('> .js-tablist > .js-tablist__item > .js-tablist__link[aria-selected="true"]').parent(),
                    $last_link = $parent.find('> .js-tablist > .js-tablist__item:last-child > .js-tablist__link'),
                    $first_link = $parent.find('> .js-tablist > .js-tablist__item:first-child > .js-tablist__link'),
                    $focus_on_tab_only = false,
                    $prev = $activated,
                    $next = $activated;

                // search valid previous
                do {
                    // if we are on first => activate last
                    if ($prev.is(".js-tablist__item:first-child")) {
                        $prev = $last_link.parent();
                    }
                    // else previous
                    else {
                        $prev = $prev.prev();
                    }
                }
                while ($prev.children('.js-tablist__link').attr('aria-disabled') === 'true' && $prev !== $activated);

                // search valid next
                do {
                    // if we are on last => activate first
                    if ($next.is(".js-tablist__item:last-child")) {
                        $next = $first_link.parent();
                    }
                    // else previous
                    else {
                        $next = $next.next();
                    }
                }
                while ($next.children('.js-tablist__link').attr('aria-disabled') === 'true' && $next !== $activated);

                // some event should be activated only if the focus is on tabs (not on tabpanel)
                if ($(document.activeElement).is($parent.find('.js-tablist__link'))) {
                    $focus_on_tab_only = true;
                }

                // catch keyboard event only if focus is on tab
                if ($focus_on_tab_only && !event.ctrlKey) {
                    // strike up or left in the tab
                    if (event.keyCode == 37 || event.keyCode == 38) {

                        $prev.children(".js-tablist__link").click().focus();

                        event.preventDefault();
                    }
                    // strike down or right in the tab
                    else if (event.keyCode == 40 || event.keyCode == 39) {

                        $next.children(".js-tablist__link").click().focus();

                        event.preventDefault();
                    } else if (event.keyCode == 36) {
                        // activate first tab
                        $first_link.click().focus();
                        event.preventDefault();
                    } else if (event.keyCode == 35) {
                        // activate last tab
                        $last_link.click().focus();
                        event.preventDefault();
                    }

                }

            })
            .on("keydown", ".js-tabcontent", function(event) {

                var $this = $(this),
                    $selector_tab_to_focus = $this.attr('aria-labelledby'),
                    $tab_to_focus = $("#" + $selector_tab_to_focus),
                    $parent_item = $tab_to_focus.parent(),
                    $parent_list = $parent_item.parent(),
                    $first_item = $parent_list.find('.js-tablist__item:first-child'),
                    $last_item = $parent_list.find('.js-tablist__item:last-child'),
                    $prev_item = $parent_item,
                    $next_item = $parent_item;

                // CTRL up/Left
                if ((event.keyCode == 37 || event.keyCode == 38) && event.ctrlKey) {
                    $tab_to_focus.focus();
                    event.preventDefault();
                }
                // CTRL PageUp
                if (event.keyCode == 33 && event.ctrlKey) {
                    //$tab_to_focus.focus();

                    // search valid previous
                    do {
                        // if we are on first => last
                        if ($prev_item.is(".js-tablist__item:first-child")) {
                            $prev_item = $last_item;
                        }
                        // else previous
                        else {
                            $prev_item = $prev_item.prev();
                        }
                    }
                    while ($prev_item.children('.js-tablist__link').attr('aria-disabled') === 'true' && $prev_item !== $parent_item);

                    $prev_item.children(".js-tablist__link").click().focus();

                    event.preventDefault();
                }
                // CTRL PageDown
                if (event.keyCode == 34 && event.ctrlKey) {
                    $tab_to_focus.focus();

                    // search valid next
                    do {
                        // if we are on last => first
                        if ($next_item.is(".js-tablist__item:last-child")) {
                            $next_item = $first_item;
                        }
                        // else previous
                        else {
                            $next_item = $next_item.next();
                        }
                    }
                    while ($next_item.children('.js-tablist__link').attr('aria-disabled') === 'true' && $next_item !== $parent_item);

                    $next_item.children(".js-tablist__link").click().focus();

                    event.preventDefault();
                }

            })
            /* click on a tab link */
            .on("click", ".js-link-to-tab", function() {
                var $this = $(this),
                    $tab_to_go = $($this.attr('href')),
                    $button_to_click = $('#' + $tab_to_go.attr('aria-labelledby'));

                if ($button_to_click.attr('aria-disabled') !== 'true') {
                    // activate tabs
                    $button_to_click.click();
                    // give focus to the good button
                    setTimeout(function() {
                        $button_to_click.focus()
                    }, 10);
                }

            });

    }

});
</script>
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #d96f05;
        background-color: #ff7f00;
        color: #fff;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 10%;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ec7a09;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ec7a09;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        /*padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;*/
    }

    .tablinks {
        width: 100%;
    }

    .sidebar-menu-collapsed .logo-icon {
        background: none;
    }

    .logo {
        background: none;
    }

    /* --------------- styles for tabs -----------------------*/

    .invisible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }



    .example-tabs-tabs__list {
        margin: 0;
        padding: 0;
    }

    .example-tabs-tabs__item {
        display: inline-block;
    }

    .example-tabs-tabs__link {
        display: inline-block;
        padding: 1em 2em;
        /*background: #f2f2f2;*/
        cursor: pointer;
        color: #148297;
    }

    [aria-selected="true"].example-tabs-tabs__link {
        color: #000;
    }

    .example-tabs-tabs__content {
        background: #f2f2f2;
        padding: 1em;
    }

    [aria-hidden="true"].example-tabs-tabs__content {
        display: none;
    }

    #page {
        width: 960px;
        margin: 0 auto;
    }
</style>
<div class="main-content">
    <!-- content -->
    <div class="container-fluid content-top-gap">
        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="/default/default">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Payment</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
        <section class="forms">
            <!-- forms 1 -->
            <div class="card card_border py-2 mb-4">
                @*<div class="cards__heading">
                        <h3><span></span></h3>
                    </div>*@
                <div class="card-body">
                    <form action="#" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="input__label">Pandit name</label>
                                    <select class="form-control input-style" id="SelectPandit"></select>
                                    @*<input type="email" class="form-control input-style" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">*@

                                </div>
                            </div>
                            <div class="form-group col-md-3"> </div>
                            <div class="form-group col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="input__label">From date</label>
                                    <input type="date" id="TxtFromDate" class="form-control input-style">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="input__label">To date</label>
                                    <input type="date" id="TxtToDate" class="form-control input-style">

                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-style mt-4" onclick="Submit()">Submit</button>
                    </form>




                </div>
            </div>
        </section>


        <section class="forms">
            <!-- forms 1 -->
            <div class="card card_border py-2 mb-4">
                @*<div class="cards__heading">
                        <h3><span></span></h3>
                    </div>*@
                <div class="card-body" id="divpayment" style="display:none">
                    <!-- Tab links -->
                    <!-- Tab content -->



                    <div class="js-tabs">
                        <ul class="js-tablist" data-hx="h2" data-tabs-prefix-class="example-tabs">
                            <li class="js-tablist__item">
                                <a href="#id_first" id="label_id_first" class="js-tablist__link" style="background-color: #03c895;color: white;padding: 1em 8em;"> <i class="fa fa-check" aria-hidden="true"></i> Paid</a>
                            </li>
                            <li class="js-tablist__item">
                                <a href="#id_second" id="label_id_second" class="js-tablist__link" style="background-color: #4755ab;color: white;padding: 1em 8em;"> <i class="fa fa-thumb-tack" aria-hidden="true"></i> Unpaid</a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-2" style="padding: 25px 10px;">
                                <span style="font-weight:600;color:#000">Total Amount : $</span>  <span id="lblamount">0</span>
                            </div>
                            <div class="col-md-2" style="padding: 14px 10px;"><button type="button" onclick="Payment()" class="btn btn-primary btn-style">Pay Now</button></div>
                        </div>
                        <div id="id_first" class="js-tabcontent">


                            <div class="js-tabs">
                                <ul class="js-tablist" data-hx="h2" data-tabs-prefix-class="example-tabs">
                                    <li class="js-tablist__item">
                                        <a href="#id_firsty" id="label_id_firsty" onclick="xyz(1)" class="js-tablist__link" style="    background-color:#049973;color: white;"> <i class="fa fa-whatsapp" aria-hidden="true"></i> For Call & Chats</a>
                                    </li>
                                    <li class="js-tablist__item">
                                        <a href="#id_secondy" id="label_id_secondy" onclick="xyz(2)" class="js-tablist__link" style="    background-color: #03c895;color: white;"> <i class="fa fa-list" aria-hidden="true"></i> For Services/Pujas</a>
                                    </li>
                                </ul>
                                <div id="id_firsty" class="js-tabcontent">
                                    <div class="row">


                                        <div class="col-md-12">
                                            <div class="table-responsive">

                                                <table id="tblcallchatpaid" class="table table-bordred table-striped">

                                                    <thead>
                                                        <tr>
                                                            <th>Order No</th>
                                                            <th>Call/Chat Duration</th>
                                                            <th>Customer name</th>
                                                            <th>Service</th>
                                                            <th>Date</th>
                                                            <th>Amount</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>

                                                </table>
                                                <div class="clearfix"></div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="id_secondy" class="js-tabcontent">
                                    <div class="row">


                                        <div class="col-md-12">
                                            <div class="table-responsive">

                                                <table id="tblservicespaid" class="table table-bordred table-striped">

                                                    <thead>
                                                        <tr>
                                                            <th>Order Number</th>
                                                            <th> Service / Puja Name</th>
                                                            <th>Customer Name</th>
                                                            <th>Date</th>
                                                            <th>Amount</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>

                                                </table>
                                                <div class="clearfix"></div>
                                                @*<ul class="pagination pull-right">
                                                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                                                        <li class="active"><a href="#">1</a></li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">4</a></li>
                                                        <li><a href="#">5</a></li>
                                                        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                                                    </ul>*@

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div id="id_second" class="js-tabcontent">


                            <div class="js-tabs">
                                <ul class="js-tablist" data-hx="h2" data-tabs-prefix-class="example-tabs">
                                    <li class="js-tablist__item">
                                        <a href="#id_firsty2" id="label_id_firsty2" onclick="xyz3(1)" class="js-tablist__link" style="background-color: #202d85;color: white;"> <i class="fa fa-whatsapp" aria-hidden="true"></i> For Call & Chats</a>
                                    </li>
                                    <li class="js-tablist__item">
                                        <a href="#id_secondy2" id="label_id_secondy2" onclick="xyz3(2)" class="js-tablist__link" style="background-color: #049973;color: white;"> <i class="fa fa-list" aria-hidden="true"></i> For Services/Pujas</a>
                                    </li>
                                </ul>
                                <div id="id_firsty2" class="js-tabcontent">
                                    <div class="row">
                                        <div class="col-md-8"> </div>


                                        <div class="col-md-12">
                                            <div class="table-responsive">

                                                <table id="tblcallchatunpaid" class="table table-bordred table-striped">

                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox" id="checkall" /> All</th>
                                                            <th>Order Number</th>
                                                            <th>Call/Chat Duration</th>

                                                            <th>Customer Name</th>
                                                            <th>Service </th>
                                                            <th>Date</th>
                                                            <th>Amount</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>

                                                </table>
                                                <div class="clearfix"></div>


                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div id="id_secondy2" class="js-tabcontent">
                                    <div class="row">
                                        <div class="col-md-8"> </div>
                                        @*<div class="col-md-2" style="padding: 25px 10px;"><span style="font-weight:600;color:#000">Total Amount : </span> $ 91 </div>
                                            <div class="col-md-2" style="padding: 14px 10px;"><button type="submit" class="btn btn-primary btn-style">Pay Now</button></div>*@

                                        <div class="col-md-12">
                                            <div class="table-responsive">

                                                <table id="tblservicesunpaid" class="table table-bordred table-striped">

                                                    <thead>
                                                        <tr>
                                                            <th><input type="checkbox" id="checkall" /> All</th>
                                                            <th>Order Number</th>
                                                            <th>Customer Name</th>
                                                            <th> Service / Puja Name</th>
                                                            <th>Date</th>
                                                            <th>Amount</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>

                                                </table>
                                                <div class="clearfix"></div>
                                                @*<ul class="pagination pull-right">
                                                        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                                                        <li class="active"><a href="#">1</a></li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">4</a></li>
                                                        <li><a href="#">5</a></li>
                                                        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                                                    </ul>*@

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
