@model Pandit_ApplicationEntity.PunditProfileModel

@{
    ViewBag.Title = "PunditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>Profile</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    <ul>
                        <li><a href="#">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                        <li>Profiles</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs sidebar Start -->
<div class="hs_kd_sidebar_main_wrapper hs_num_sidebar_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="hs_kd_left_sidebar_main_wrapper">
                    <div class="row">
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_border_wrapper1">
                                <div class="hs_slider_tabs_icon_wrapper">
                                    <i class="flaticon-aries-sign"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper hs_ar_tabs_heading_wrapper">
                                    <ul>
                                        <li><a href="#" class="hs_tabs_btn">Aries</a></li>
                                        <li>31 March - 12 October</li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_ar_tabs_wrapper">
                                <ul>
                                    <li><a href="#">For you</a></li>
                                    <li><a href="#">For Everyone</a></li>
                                    <li class="aries_padding_left">
                                        <select>
                                            <option>Change Zodiac Sign</option>
                                            <option>Change Zodiac Sign</option>
                                            <option>Change Zodiac Sign</option>
                                            <option>Change Zodiac Sign</option>
                                        </select>

                                    </li>
                                    <li class="aries_padding_left">
                                        <select>
                                            <option>Today</option>
                                            <option>Today</option>
                                            <option>Today</option>
                                            <option>Today</option>
                                        </select>

                                    </li>
                                </ul>
                            </div>
                        </div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_ar_first_sec_wrapper">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="hs_ar_first_sec_img_wrapper">
                                            <img src="~/images/content/kundali/aries_img.jpg" alt="arlies_img" />
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                        <div class="hs_ar_first_sec_img_cont_wrapper">
                                            <div class="hs_slider_tabs_icon_cont_wrapper hs_ar_tabs_heading_wrapper">
                                                <ul>
                                                    <li><a class="hs_tabs_btn">Mahtab Ansh</a></li>
                                                </ul>
                                            </div>
                                            <p>
                                                The Ox occupies the second position in the Chinese Zodiac. The zodiac mls are, in order: Rat, Ox, Tiger, Rabbit, Dragon, Snake, Horse, Goat, Monkey, oser, Dog, and Pig. Each year is related to a Chinese
                                                zodiac animal according to the 12-year-cycle.<br><br>Aenean sollicitudin. The Ox occupies the cond
                                                position in the Chinese Zodiac. The 12 zodiac animals are, in order: Rat, Tiger, Rabbit, Dragon, Snake, Horse, Goat, Monkey, Rooster, Dog, and Pig. Each year is related to a Chinesezodiac animal.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_ar_second_sec_cont_wrapper">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint aecat cupidatat non proident, sunt in culpa qui officia
                                                deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_kd_first_sec_wrapper hs_ar_third_sec_heading_wrapper">
                                            <h2>Key Features</h2>
                                            <h4><span></span></h4>
                                        </div>
                                        <div class="hs_pr_second_cont_wrapper hs_ar_second_sec_cont_list_wrapper" style="padding-top: 20px;">
                                            <ul>
                                                <li>
                                                    <div class="hs_pr_icon_wrapper">
                                                        <i class="fa fa-circle"></i>
                                                    </div>
                                                    <div class="hs_pr_icon_cont_wrapper hs_ar_icon_cont_wrapper">
                                                        <p><span>Lucky Colors</span> : white, yellow, green</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="hs_pr_icon_wrapper">
                                                        <i class="fa fa-circle"></i>
                                                    </div>
                                                    <div class="hs_pr_icon_cont_wrapper hs_ar_icon_cont_wrapper">
                                                        <p><span>Lucky Numbers</span> : 1, 4</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="hs_pr_icon_wrapper">
                                                        <i class="fa fa-circle"></i>
                                                    </div>
                                                    <div class="hs_pr_icon_cont_wrapper hs_ar_icon_cont_wrapper">
                                                        <p><span>Lucky Flowers</span> : tulip, morning glory, peach blossom</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="hs_pr_icon_wrapper">
                                                        <i class="fa fa-circle"></i>
                                                    </div>
                                                    <div class="hs_pr_icon_cont_wrapper hs_ar_icon_cont_wrapper">
                                                        <p><span> Year of Birth </span>: 1913, 1925, 1937, 1949, 1961, 1973, 1985, 1997, 2009, 2021</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_contact_indx_form_btn">
                                            <ul>
                                                <li><a href="/BookingForm/BookingForm">Book a Call</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_rs_four_sec_wrapper">
                                            <div class="hs_rs_four_sec_img_overlay_wrapper"></div>

                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="hs_rs_four_slider_wrapper">
                                                        <div class="owl-carousel owl-theme">
                                                            <div class="item">
                                                                <div class="hs_rs_slider_inner_cont_wrapper">
                                                                    <h2>Now talk to best astrologers, Numerologists & Tarot<br> Readers anywhere, anytime with Astroyogi.</h2>
                                                                    <ul>
                                                                        <li><a href="#">Call Now</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="hs_rs_slider_inner_cont_wrapper">
                                                                    <h2>Now talk to best astrologers, Numerologists & Tarot<br> Readers anywhere, anytime with Astroyogi.</h2>
                                                                    <ul>
                                                                        <li><a href="#">Call Now</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="hs_rs_slider_inner_cont_wrapper">
                                                                    <h2>Now talk to best astrologers, Numerologists & Tarot<br> Readers anywhere, anytime with Astroyogi.</h2>
                                                                    <ul>
                                                                        <li><a href="#">Call Now</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_kd_first_sec_wrapper hs_ar_third_sec_heading_wrapper">
                                            <h2>Comments</h2>
                                            <h4><span></span></h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_rs_comment_main_wrapper">
                                            @*<div class="hs_rs_comment_img_wrapper">
                                                <img src="~/images/content/kundali/comm_img1.jpg" alt="comment_img">
                                            </div>*@
                                            <div class="hs_rs_comment_img_cont_wrapper">
                                                <h2>Joahn Doe</h2>
                                                <p>
                                                    The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally
                                                    named Vishal Devgan !
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_rs_comment_main_wrapper">
                                            @*<div class="hs_rs_comment_img_wrapper">
                                                <img src="~/images/content/kundali/comm_img2.jpg" alt="comment_img">
                                            </div>*@
                                            <div class="hs_rs_comment_img_cont_wrapper">
                                                <h2>Joahn Doe</h2>
                                                <p>
                                                    The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally
                                                    named Vishal Devgan !
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_rs_comment_main_wrapper">
                                            @*<div class="hs_rs_comment_img_wrapper">
                                                <img src="~/images/content/kundali/comm_img3.jpg" alt="comment_img">
                                            </div>*@
                                            <div class="hs_rs_comment_img_cont_wrapper">
                                                <h2>Joahn Doe</h2>
                                                <p>
                                                    The actor, director and producer, son to well-known stunt choreographer of Bollywood, rried to one of the most vivacious, bubbly, live-wire actress, is none other than our dashing Ajay Devgan, originally
                                                    named Vishal Devgan !
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_kd_right_sidebar_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_right_first_sec_wrapper">
                                <div class="hs_kd_right_first_sec_heading">
                                    <h2>kundali patrikla</h2>
                                </div>
                                <div class="hs_kd_right_first_sec_img_heading">
                                    <img src="~/images/content/kundali/patrika.jpg" alt="patrika" />
                                </div>
                                <div class="hs_kd_right_first_sec_img_price_heading">
                                    <ul>
                                        <li>Kundli Patrika</li>
                                        <li>$26</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_right_first_sec_wrapper2">
                                <div class="hs_kd_right_first_sec_heading">
                                    <h2>Mangala Dosha</h2>
                                </div>
                                <div class="hs_kd_right_first_sec_img_heading">
                                    <img src="~/images/content/kundali/patrika2.jpg" alt="patrika" />
                                </div>
                                <div class="hs_kd_right_first_sec_img_price_heading">
                                    <ul>
                                        <li>Kundli Patrika</li>
                                        <li>$26</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_right_second_sec_wrapper">
                                <div class="hs_kd_right_second_img_wrapper">
                                    <img src="~/images/content/kundali/love_img.jpg" alt="love_img" />
                                </div>
                                <div class="hs_kd_right_second_img_cont_wrapper">
                                    <p>How Will Be Your</p>
                                    <h3>Love Life?</h3>
                                    <ul>
                                        <li><a href="#">find now for free</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_kd_right_first_sec_wrapper2">
                                <div class="hs_kd_right_first_sec_heading">
                                    <h2>Your star guide</h2>
                                </div>
                                <div class="hs_kd_right_accordi_sec_wrapper">
                                    <div class="accordionFifteen">
                                        <div class="panel-group" id="accordionFifteenLeft" role="tablist">
                                            <div class="panel panel-default truck_pannel">
                                                <div class="panel-heading desktop">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftone" aria-expanded="true"> Day Guide</a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFifteenLeftone" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel">
                                                    <div class="panel-body">
                                                        <div class="panel_cont">
                                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.panel-default -->
                                            <div class="panel panel-default truck_pannel">
                                                <div class="panel-heading horn">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftTwo" aria-expanded="false">Life Meter</a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFifteenLeftTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                                    <div class="panel-body">
                                                        <div class="panel_cont">
                                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.panel-default -->
                                            <div class="panel panel-default truck_pannel">
                                                <div class="panel-heading bell">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftThree" aria-expanded="false">Compatibility</a>
                                                    </h4>
                                                </div>
                                                <div id="collapseFifteenLeftThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                                    <div class="panel-body">
                                                        <div class="panel_cont">
                                                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!--end of /.panel-group-->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs sidebar End -->