@model Pandit_ApplicationEntity.DeleteAccountModel

@{
    ViewBag.Title = "DeleteAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-contents {
        border: 1px solid #ff7e00;
        padding-bottom: 2%;
        border-radius: 3px;
        box-shadow: 0 2px 16px 0 #ff7e00;
        border-radius: 6px;
        margin-bottom: 6%;
        min-height: 262px;
    }

    label {
        font-weight: normal;
    }

    a {
        cursor: pointer;
    }
</style>
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>Delete my account</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    @*<ul>
                            <li><a href="/DefaultHome/Default">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>Aries Horoscope</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs sidebar Start -->
<div class="hs_kd_sidebar_main_wrapper hs_num_sidebar_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_kd_left_sidebar_main_wrapper" style="margin-top: 60px;">
                    <div class="row">



                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_ar_first_sec_wrapper">
                                <div class="row">



                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_pr_second_cont_wrapper hs_ar_second_sec_cont_list_wrapper">
                                            <h2>
                                                Points to be noted
                                            </h2>
                                            <h4><span></span></h4>
                                            <ul>
                                                <li>
                                                    <div class="hs_pr_icon_wrapper">
                                                        <i class="fa fa-circle"></i>
                                                    </div>
                                                    <div class="hs_pr_icon_cont_wrapper hs_ar_icon_cont_wrapper">
                                                        <p>Choose from talking, chatting with a specialist to getting a report, puja, service done, we have everything that is needed to bring back hope in your life.  </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="hs_pr_icon_wrapper">
                                                        <i class="fa fa-circle"></i>
                                                    </div>
                                                    <div class="hs_pr_icon_cont_wrapper hs_ar_icon_cont_wrapper">
                                                        <p>	Review the specialist’s profile and choose the one you find most accurate for you. All our specialists are verified and go through phases of verification before providing their services for AstroHouz. Each specialist is also given some real-life cases to examine the accuracy of their prediction and report before interacting with our customers.  </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="hs_pr_icon_wrapper">
                                                        <i class="fa fa-circle"></i>
                                                    </div>
                                                    <div class="hs_pr_icon_cont_wrapper hs_ar_icon_cont_wrapper">
                                                        <p>	For the first-time user - once you have chosen your specialist for a talk or chat service, recharge your wallet with the minimum required amount (minimum- 5 mins of talk/chat time). Once paid fill the form and your booking is done.   </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="hs_pr_icon_wrapper">
                                                        <i class="fa fa-circle"></i>
                                                    </div>
                                                    <div class="hs_pr_icon_cont_wrapper hs_ar_icon_cont_wrapper">
                                                        <p>
                                                            As soon as we receive your request, your chosen specialist studies all the details you provided to understand your problem/ need. Then your specialist will connect with you and the service chosen will be provided.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="hs_pr_icon_wrapper">
                                                        <i class="fa fa-circle"></i>
                                                    </div>
                                                    <div class="hs_pr_icon_cont_wrapper hs_ar_icon_cont_wrapper">
                                                        <p>
                                                            When you book a report, the report is emailed to you on the provided email id.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="hs_pr_icon_wrapper">
                                                        <i class="fa fa-circle"></i>
                                                    </div>
                                                    <div class="hs_pr_icon_cont_wrapper hs_ar_icon_cont_wrapper">
                                                        <p>
                                                            When you book a puja, the Specialist performs the puja, and if possible, the photos of the performed puja will be sent.
                                                        </p>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs_contact_indx_form_btn">
                <ul>
                    <li><a typeof="button" onclick="deleteconfirmation()" style="font-size:16px">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>

        function deleteconfirmation() {
            debugger
            var r = confirm("Are you sure you want to delete your account?")
            if (r == true) {
                window.location.href = "/DefaultHome/Default"
            }
    }
</script>