@model Pandit_ApplicationEntity.DefaultAdminPortalModel

@{
    Layout = "~/Views/Shared/_layoutAdminPortal.cshtml";
}
<div class="main-content">
    <!-- content -->
    <div class="container-fluid content-top-gap">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav>
        <div class="welcome-msg pt-3 pb-4">
            <h1>Hi <span class="text-primary">Admin</span>, Welcome back</h1>
            @*<p>Very detailed & featured admin.</p>*@
        </div>
        <!-- statistics data -->
        <div class="statistics">
            <div class="row">
                <div class="col-xl-6 pr-xl-2">
                    <div class="row">

                        <div class="col-sm-6 pr-sm-2 statistics-grid">
                            <a href="/NewlyRegisteredPandit/NewlyRegisteredPandit">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-users"> </i>
                                    <h3 class="text-primary number">@Html.DisplayFor(model=> model.Newpandit)</h3>
                                    <p class="stat-text">New Applications</p>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 pl-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-eye"> </i>
                                <h3 class="text-secondary number">@Html.DisplayFor(model => model.Acceptedpandit)</h3>
                                <p class="stat-text">Verified Pandit</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 pl-xl-2">
                    <div class="row">
                        <div class="col-sm-6 pr-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-cloud-download"> </i>
                                <h3 class="text-success number">@Html.DisplayFor(model => model.Registeredpandit)</h3>
                                <p class="stat-text">Registered Pandit</p>
                            </div>
                        </div>
                        <div class="col-sm-6 pl-sm-2 statistics-grid">
                            <div class="card card_border border-primary-top p-4">
                                <i class="lnr lnr-cart"> </i>
                                <h3 class="text-danger number">1,250k</h3>
                                <p class="stat-text">Purchased</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //statistics data -->
        <!-- //modals -->
    </div>
    <!-- //content -->
</div>
