@model Pandit_ApplicationEntity.OrderDetailsModel

@{
    Layout = "~/Views/Shared/_LayoutAdminPandit.cshtml";
}
<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">

        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Order Details</li>
            </ol>
        </nav>
        <!-- //people cards style 2 -->
        <div class="card card_border mb-5">
            <div class="cards__heading">
                <h3>Order Number:<span> C87867</span></h3>
            </div>
            <div class="card-body">
                <div class="row px-2">

                    <div class="col-lg-12 col-md-6 mb-4 px-2">
                        <div class="card text-center card_border py-2">
                            <div class="card-body" style="text-align:left">

                                <p><span style="color:#ff7e00">Full Name: </span> Steve Jobs  Kapoor</p>

                                <p><span style="color:#ff7e00">Gender: </span> Male</p>

                                <p><span style="color:#ff7e00">Date Of Birth: </span> 29 Dec 1990</p>
                                <p><span style="color:#ff7e00">Time Of Birth </span> 5:40 am</p>
                                <p><span style="color:#ff7e00">Place Of Birth: </span> Mumbai</p>
                                <p><span style="color:#ff7e00">Topic for Call: </span> Palmistry</p>
                                <p><span style="color:#ff7e00">Mobile Number: </span> +1 8739847923</p>
                                <br />
                                <p style="border-bottom: 1px solid #eee ;  font-size: 22px;   font-weight: 600;"><span style="color:#ff7e00"> Slot Chosen </span></p>
                                <br />
                                <p><span style="color:#ff7e00">Date:  </span>20 Dec 2020</p>
                                <p><span style="color:#ff7e00">Time:  </span> 5:40 am</p>
                                <p><span style="color:#ff7e00">Minute:  </span> 6 minutes</p>
                                <p><span style="color:#ff7e00">Costs:  </span> $40</p>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- //people cards style 2 -->
    </div>
</div>
