@model Pandit_ApplicationEntity.SelectedSeviceModel

@{
    ViewBag.Title = "SelectedSevice";
}


<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>
                        Book your service
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    @*<ul>
                            <li><a href="#">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>Profiles</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs sidebar Start -->
<div class="hs_kd_sidebar_main_wrapper hs_num_sidebar_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="hs_kd_left_sidebar_main_wrapper">
                    <div class="row">
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_sign_left_tabs_wrapper hs_sign_left_tabs_border_wrapper1">
                                <div class="hs_slider_tabs_icon_wrapper">
                                    <i class="flaticon-aries-sign"></i>
                                </div>
                                <div class="hs_slider_tabs_icon_cont_wrapper hs_ar_tabs_heading_wrapper">
                                    <ul>
                                        <li><a href="#" class="hs_tabs_btn">Aries</a></li>
                                        <li>31 March - 12 October</li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_ar_tabs_wrapper">
                                <ul>
                                    <li><a href="#">For you</a></li>
                                    <li><a href="#">For Everyone</a></li>
                                    <li class="aries_padding_left">
                                        <select>
                                            <option>Change Zodiac Sign</option>
                                            <option>Change Zodiac Sign</option>
                                            <option>Change Zodiac Sign</option>
                                            <option>Change Zodiac Sign</option>
                                        </select>

                                    </li>
                                    <li class="aries_padding_left">
                                        <select>
                                            <option>Today</option>
                                            <option>Today</option>
                                            <option>Today</option>
                                            <option>Today</option>
                                        </select>

                                    </li>
                                </ul>
                            </div>
                        </div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_ar_first_sec_wrapper">
                                <div class="row" style="display:none">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_kd_four_heading_sec_wrapper" style="padding-top: 0px;">
                                            <h2>GRAH SHANTI PUJA</h2>
                                            <h4><span></span></h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="hs_kd_four_img_wrapper">
                                            <img src="~/images/content/shop/grah.jpg" style="" alt="patrika" />
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <div class="hs_kd_four_img_cont_wrapper">
                                            <h2>Details</h2>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur pisicng elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim iam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                Lorem ipsum dolor sit amet, consectetur pisicng elit, sed do eiusmod tempor incididunt  consequat.<br><br>Duis aute Lorem ipsum dolor sit amet, consectetur pisicng elit, sed do eiusmod
                                                tempor incididunt Lorem ipsum dolor sit amet, consectetur pisicng elit, sed do eiusmod tempor incididunt  irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                                                anim id est laborum. Sed ut Lorem ipsum dolor sit amet, consectetur pisicng elit, sed do eiusmod perspiciatis.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_kd_four_img_cont_bottom_wrapper">
                                            <h2 style=" font-size: 20px; color: #000000; padding-bottom: 20px;">How it is performed?</h2>
                                            <p>
                                                Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellussfasf a odio This is adasddPhotoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                                                ollicitudin, lofas sf sadf rem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursu ass a sit amet mauris. Morbi accumsan ipsum velit. Nam nec
                                                tellus a odio tincidunt auctor a are odio. Sed non mauras is vitae era asfas f t as consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top:40PX;display:none">
                                        <div class="hs_about_progress_cont_left">
                                            <h2>Questions (faq’s)</h2>
                                            <h4><span></span></h4>
                                            <div class="accordionFifteen">
                                                <div class="panel-group" id="accordionFifteenLeft" role="tablist">
                                                    <div class="panel panel-default truck_pannel">
                                                        <div class="panel-heading desktop">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftone" aria-expanded="true"> Raboto Font use for this site</a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseFifteenLeftone" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel">
                                                            <div class="panel-body">
                                                                <div class="panel_cont">
                                                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.panel-default -->
                                                    <div class="panel panel-default truck_pannel">
                                                        <div class="panel-heading horn">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftTwo" aria-expanded="false">Cryptocurrency - Who Are Involved With It ?</a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseFifteenLeftTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                                            <div class="panel-body">
                                                                <div class="panel_cont">
                                                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.panel-default -->
                                                    <div class="panel panel-default truck_pannel">
                                                        <div class="panel-heading bell">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftThree" aria-expanded="false">Risks & Rewards Of Investing In Bitcoin ?</a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseFifteenLeftThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                                            <div class="panel-body">
                                                                <div class="panel_cont">
                                                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.panel-default -->
                                                    <div class="panel panel-default truck_pannel">
                                                        <div class="panel-heading bell">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftFour" aria-expanded="false">Risks & Rewards Of Investing In Bitcoin ?</a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseFifteenLeftFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                                            <div class="panel-body">
                                                                <div class="panel_cont">
                                                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end of /.panel-group-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="hs_cn_second_sec_wrapper">
                                            @*<h2>FILL IN YOUR DETAILS TO BOOK THIS SERVICE</h2>
                                            <br />*@
                                            <p><span style="color:red"> * </span> Fill in the details of the person for whom the services is to be performed.</p>
                                            <br />
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Full Name</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Gender</label>
                                                    <br />
                                                    <select type="text" style=" width: 100%; height: 50px; border: 1px solid #e7e7e7; padding-left: 20px; padding-right: 20px;" name="countryCode" id="">
                                                        <option data-countryCode="US" value="1" Selected>Select</option>
                                                        <option data-countryCode="DZ" value="213">Male</option>
                                                        <option data-countryCode="AD" value="376">Female</option>
                                                        <option data-countryCode="AO" value="244">Other</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Date Of Birth</label>
                                                    <input type="text" placeholder="DD/MM/YYYY">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Time Of Birth</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Place Of Birth</label>
                                                    <input type="text" placeholder="Example: City, State, Country">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Marital Status</label>
                                                    <input type="text" placeholder="Select">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Occupation</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Mobile Number</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Email</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Preferred language</label>
                                                    <br />
                                                    <select type="text" style=" width: 100%; height: 50px; border: 1px solid #e7e7e7; padding-left: 20px; padding-right: 20px;" name="countryCode" id="">
                                                        <option data-countryCode="US" value="1" Selected>Select</option>
                                                        <option data-countryCode="DZ" value="213">Male</option>
                                                        <option data-countryCode="AD" value="376">Female</option>
                                                        <option data-countryCode="AO" value="244">Other</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Address</label>
                                                    <input type="text">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="hs_num_input_wrapper">
                                                    <label>Topic for Call</label>
                                                    <br />
                                                    <textarea rows="3" style="width: 100%; border: 1px solid #e7e7e7; padding: 20px;" placeholder="Upto 50 words"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="hs_num_input_btn_wrapper hs_cn_birth_btn_wrapper">
                                                    <ul>
                                                        <li><a href="#">Book Now</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="hs_contact_indx_form_btn">
                                                <ul>
                                                    <li><a href="/BookingForm/BookingForm">Book a Call</a></li>
                                                </ul>
                                            </div>
                                        </div>*@
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none">
                                        <div class="hs_rs_four_sec_wrapper">
                                            <div class="hs_rs_four_sec_img_overlay_wrapper"></div>

                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="hs_rs_four_slider_wrapper">
                                                        <div class="owl-carousel owl-theme">
                                                            <div class="item">
                                                                <div class="hs_rs_slider_inner_cont_wrapper">
                                                                    <h2>Now talk to best astrologers, Numerologists & Tarot<br> Readers anywhere, anytime with Astroyogi.</h2>
                                                                    <ul>
                                                                        <li><a href="#">Call Now</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="hs_rs_slider_inner_cont_wrapper">
                                                                    <h2>Now talk to best astrologers, Numerologists & Tarot<br> Readers anywhere, anytime with Astroyogi.</h2>
                                                                    <ul>
                                                                        <li><a href="#">Call Now</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="hs_rs_slider_inner_cont_wrapper">
                                                                    <h2>Now talk to best astrologers, Numerologists & Tarot<br> Readers anywhere, anytime with Astroyogi.</h2>
                                                                    <ul>
                                                                        <li><a href="#">Call Now</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- hs sidebar End -->