@model Pandit_ApplicationEntity.BlogDetailsModel

@{
    ViewBag.Title = "BlogDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>Blog</h2>
                </div>
            </div>
      
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs sidebar Start -->
<div class="hs_blog_categories_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="hs_blog_left_sidebar_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_box1_main_wrapper">
                                <div class="hs_blog_box1_img_wrapper">
                                    <img src="~/images/content/blog/bc1.jpg" alt="blog_img">
                                    <div class="hs_blog_Indx_date_wrapper">
                                        <ul>
                                            <li>29</li>
                                            <li>Oct</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="hs_blog_box1_cont_main_wrapper">
                                    <div class="hs_blog_cont_heading_wrapper">
                                        <h2>Rahu Enters Cancer and Ketu Enters Capricorn.</h2>
                                        <h4><span></span></h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dlore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                            ex ea odo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                            mollit anim id est labrum. Sed ut perspiciatis unde omnis iste natus error sit.<br><br>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore atis et quasi architecto
                                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit rnatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                                            est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non mquam eius modi tempora incidunt ut labore et dolore.
                                        </p>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                           

                                        </div>
                                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                            <div class="hs_ar_first_sec_img_wrapper">
                                                <img src="~/images/content/blog/bc1.jpg" alt="arlies_img" />
                                            </div>

                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                           

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                            <div class="hs_ar_first_sec_img_cont_wrapper">

                                                <p>
                                                    Moving to the USA in 2014, a part of my heart missed India where I could easily connect to my culture, practices, and beliefs. Then came 2020, fortuitously, “pandemic “and “virtual “words led me to discover “AstroHouz”! It is fascinating how powerful and enlightening astrology can be to simplify your gravest problem in no time.<br /><br />
                                                    Being a global citizen and a true Indian at heart, spiritual at mind and ardent believer of God and karma, my passion for astrology and stars started when I was growing up in a family where every auspicious work and r a pundit, specialists of these fields! Hence,
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                            <div class="hs_ar_first_sec_img_cont_wrapper">

                                                <p>
                                                    Moving to the USA in 2014, a part of my heart missed India where I could easily connect to my culture, practices, and beliefs. Then came 2020, fortuitously, “pandemic “and “virtual “words led me to discover “AstroHouz”! It is fascinating how powerful and enlightening astrology can be to simplify your gravest problem in no time.<br /><br />
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                            <div class="hs_ar_first_sec_img_cont_wrapper">

                                                <p>
                                                    Moving to the USA in 2014, a part of my heart missed India where I could easily connect to my culture, practices, and beliefs. Then came 2020, fortuitously, “pandemic “and “virtual “words led me to discover “AstroHouz”! It is fascinating how powerful and enlightening astrology can be to simplify your gravest problem in no time.<br /><br />
                                                    Being a global citizen and a true Indian at heart, spiritual at mind and ardent believer of God and karma, my passion for astrology and stars started when I was growing up in a family where every auspicious work and r a pundit, specialists of these fields! Hence,
                                                </p>
                                            </div>
                                        </div>
                                       

                                    </div>
                                </div>

                                <div class="hs_blog_box1_bottom_cont_main_wrapper">
                                    <div class="hs_blog_box1_bottom_cont_left">
                                        <ul>
                                            @*<li><a href="#">by - Admin</a></li>*@
                                            <li><a href="#">Aug 2021</a></li>
                                            <li><a href="#">256 Views</a></li>
                                            @*<li><a href="#">In News - Horoscope</a></li>*@
                                        </ul>
                                    </div>
                                    <div class="hs_blog_box1_bottom_cont_right">
                                        <ul>
                                            <li>Share :</li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            @*<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>*@
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="hs_blog_right_sidebar_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_search_wrapper">
                                <input type="text" placeholder="Search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Blog CATEGORIES</h2>
                            </div>
                            <div class="hs_blog_right_cate_list_cont_wrapper">
                                <ul>
                                    <li><a href="#">Horoscope</a></li>
                                    <li><a href="#">Astrology</a></li>
                                    <li><a href="#">Vastu</a></li>
                                    <li><a href="#">Wedding</a></li>
                                    <li><a href="#">Lifestyle</a></li>
                                    <li><a href="#">Numerology</a></li>
                                    <li><a href="#">Tarot</a></li>
                                    <li><a href="#">Current Affairs</a></li>
                                    <li><a href="#">Entertainment</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Recent News</h2>
                            </div>
                            <div class="hs_blog_right_recnt_cont_wrapper">
                                <div class="hs_footer_ln_img_wrapper">
                                    <img src="~/images/content/blog/b1.jpg" class="img-responsive" alt="ln_img" />
                                </div>
                                <div class="hs_footer_ln_cont_wrapper">
                                    <h4>Astrolger Member in the life soltion.</h4>
                                    <p>12 May 2018</p>
                                </div>
                            </div>
                            <div class="hs_blog_right_recnt_cont_wrapper">
                                <div class="hs_footer_ln_img_wrapper">
                                    <img src="~/images/content/blog/b2.jpg" class="img-responsive" alt="ln_img" />
                                </div>
                                <div class="hs_footer_ln_cont_wrapper">
                                    <h4>Astrolger Member in the life soltion.</h4>
                                    <p>12 May 2018</p>
                                </div>
                            </div>
                            <div class="hs_blog_right_recnt_cont_wrapper">
                                <div class="hs_footer_ln_img_wrapper">
                                    <img src="~/images/content/blog/b3.jpg" class="img-responsive" alt="ln_img" />
                                </div>
                                <div class="hs_footer_ln_cont_wrapper">
                                    <h4>Astrolger Member in the life soltion.</h4>
                                    <p>12 May 2018</p>
                                </div>
                            </div>
                            <div class="hs_blog_right_recnt_cont_wrapper">
                                <div class="hs_footer_ln_img_wrapper">
                                    <img src="~/images/content/blog/b4.jpg" class="img-responsive" alt="ln_img" />
                                </div>
                                <div class="hs_footer_ln_cont_wrapper">
                                    <h4>Astrolger Member in the life soltion.</h4>
                                    <p>12 May 2018</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display:none">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Archives</h2>
                            </div>
                            <div class="hs_blog_right_cate_list_cont_wrapper">
                                <ul>
                                    <li><a href="#">May 2017</a></li>
                                    <li><a href="#">June 2017</a></li>
                                    <li><a href="#">July 2017</a></li>
                                    <li><a href="#">Augast 2017</a></li>
                                    <li><a href="#">September 2017</a></li>
                                    <li><a href="#">October 2017</a></li>
                                    <li><a href="#">November 2017</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="hs_blog_right_cate_list_heading_wrapper">
                                <h2>Instagram</h2>
                            </div>
                            <div class="hs_blog_right_insta_img_wrapper">
                                <ul>
                                    <li><a href="#"><img src="~/images/content/blog/inta1.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/images/content/blog/inta2.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/images/content/blog/inta3.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/images/content/blog/inta4.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/images/content/blog/inta5.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/images/content/blog/inta6.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/images/content/blog/inta7.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/images/content/blog/inta8.jpg" alt="blog_img" /></a></li>
                                    <li><a href="#"><img src="~/images/content/blog/inta9.jpg" alt="blog_img" /></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs">
                            <div class="pager_wrapper">
                                <ul class="pagination">
                                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="btc_shop_pagi"><a href="#">01</a></li>
                                    <li class="btc_shop_pagi"><a href="#">02</a></li>
                                    <li class="btc_third_pegi btc_shop_pagi"><a href="#">03</a></li>
                                    <li class="hidden-xs btc_shop_pagi"><a href="#">04</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs sidebar End -->
<!-- hs online slider wrapper Start -->

<!-- hs online slider wrapper End -->