
@{
    ViewBag.Title = "Disclaimer";
}

<style>
    /*input[type="text"] {
            width: 4em;
            margin: .5em 0 0 0;
            padding: .5em;
        }

        label {
            display: block;
        }*/
    .modal-contents {
        border: 1px solid #ff7e00;
        padding: 6%;
        border-radius: 3px;
        z-index: 999999;
        opacity: 999999;
        box-shadow: 0 2px 16px 0 #ff7e00;
        border-radius: 6px;
        margin-bottom: 6%;
        min-height: 262px;
        margin: 3px;
    }

    label {
        font-weight: normal;
    }

    label {
        /*font-weight:unset;*/
    }

</style>


<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>
                        Disclaimer
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    @*<ul>
                            <li><a href="#">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>Profiles</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<!-- hs sidebar Start -->
<div class="hs_contact_indx_form_main_wrapper" style="padding-top: 50px;">
    <div class="container">
        <div class="modal-contents">


            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>
                        All the information, puja, services, or any forecast made on the Astrohouz.com website is for entertainment purposes only whether paid or free. It cannot be considered an alternative for consultation or treatment from any Therapist, Finance, Medicine, Doctor, Real Estate, Lawyer, Psychiatrist, and any legal or professional matter for which licensed professionals are required. The forecast is only made to indicate a possibility of occurrence and does not give a guarantee or warranty of any kind and will not be responsible for any interpretation made or usage of the information mentioned above by the recipient.
                        All paid services, pujas, talk, or chat are non-refundable.
                        You must be 18 years or older.
                    </p>

                </div>




            </div>


        </div>


    </div>
</div>