
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- hs About Title Start -->
<div class="hs_indx_title_main_wrapper">
    <div class="hs_title_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_left_wrapper">
                    <h2>Frequently asked questions</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 full_width">
                <div class="hs_indx_title_right_wrapper">
                    @*<ul>
                            <li><a href="/DefaultHome/Default">Home</a> &nbsp;&nbsp;&nbsp;> </li>
                            <li>Aries Horoscope</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hs About Title End -->
<div class="hs_kd_sidebar_main_wrapper hs_num_sidebar_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 40px;">
                <div class="hs_about_progress_cont_left">
                    @*<h2>Questions (faq’s)</h2>*@
                    @*<h4><span></span></h4>*@
                    <div class="accordionFifteen">
                        <div class="panel-group" id="accordionFifteenLeft" role="tablist">
                            <div class="panel panel-default truck_pannel">
                                <div class="panel-heading desktop">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftone" aria-expanded="true">How do I add cash to my wallet?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLeftone" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                It’s very easy to add cash to your account. Log into your profile, on the very top of the page you can see the balance in your wallet and an add cash button. Go to the add cash page and you can see different amounts to refill your wallet, choose the amount you want, and then proceed further. You will be redirected to the payment page where you can see go ahead and choose a mode of payment you like to add cash to your wallet.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-default -->
                            <div class="panel panel-default truck_pannel">
                                <div class="panel-heading horn">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftTwo" aria-expanded="false">How can I change my password?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLeftTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                Log into your account and go to the profile section, there you will find a block that has your email and password information, you will see the edit link there, and can see change your password option, follow the instructions there, and change your password.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-default -->
                            <div class="panel panel-default truck_pannel">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftThree" aria-expanded="false">How can I delete my account?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLeftThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                Log into your account and go to profile, there you will find a delete account link to delete your account.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-default -->
                            <div class="panel panel-default truck_pannel">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftFour" aria-expanded="false">What happens to my reports if I delete my account? </a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLeftFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                If you choose to delete your account, all your reports will be deleted too, and they cannot be retrieved.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default truck_pannel">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftfive" aria-expanded="false">Can I reopen my closed account?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLeftfive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                No, you cannot reopen a closed account, you will have to register as a new customer again.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default truck_pannel">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftsix" aria-expanded="false">How is the puja/service performed for me?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLeftsix" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                As soon as we receive your request, your chosen specialist studies all the details you provide. As per the allocated slot, the specialist will connect with you on phone, take your sankalp, and your puja/service will start. While the puja/service is being performed you are advised to sit in a quiet place or temple and chant the mantra which the specialist will provide you over the call while taking the sankalp, if required in that specific puja/service. A puja/service can take anywhere from 1 to 7 hours depending on what kind of puja/service you choose. Once the puja/service is done the specialist will connect with you again and transfer you all the energy and vibes created during the puja/service, this is sankalp purti and it marks the end of the puja/service booked.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="panel panel-default truck_pannel">
            <div class="panel-heading bell">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftseven" aria-expanded="false">How does a video call puja work?</a>
                </h4>
            </div>
            <div id="collapseFifteenLeftseven" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                <div class="panel-body">
                    <div class="panel_cont">
                        <p>
                            Few puja’s like Grih Pravesh and Satyanarayana are performed on the video call. When this puja is booked then the specialist will provide you with a list of puja articles
                            needed to perform that particular puja beforehand. You can also find all the puja materials on our Astromarket.
                            Once the date and time are fixed the Specialist connects with you through video call and gets your puja done guiding you step by step and performing all the mantras live.
                        </p>
                    </div>
                </div>
            </div>
        </div>*@

                            <div class="panel panel-default truck_pannel">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLefteight" aria-expanded="false">How soon can I expect the results?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLefteight" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                After the puja/service is performed and all the positive vibes and energy has been transferred to you, you can expect improvement within 2-3 months. But if the purpose of the puja/service is too big, just one sankalp won't suffice, you need to repeat the puja more often till you get the desired result.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default truck_pannel">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftnine" aria-expanded="false">How do I know that I need a particular puja/service for myself?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLeftnine" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                Match the details provided in the puja/service description to see which puja/service suits your current condition/problem, according to what you are facing, and book the hassle-free consultation. If you are still confused, then it is recommended to take a puja/service consultation in which the specialist suggests the best puja/service for your problem/situation.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default truck_pannel">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftten" aria-expanded="false">Is the astrological prediction made, true?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLeftten" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                Every month planets move from one house to another and from one zodiac sign to another and based on these movements an astrological prediction is made and the specialist tells you how these movements will affect your life in the good and the bad way.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default truck_pannel">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLefteleven" aria-expanded="false">What all questions can I ask a specialist?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLefteleven" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                There is no limit to asking any kind of question from the specialist, sky is the limit, astrology has answers for almost all your concerns, but it shouldn’t be disrespectful, related to nudity or porn or something that is out of astrological content.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default truck_pannel" style="display:none">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLefttwelve" aria-expanded="false">Can I reopen my closed account?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLefttwelve" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                No, you cannot reopen a closed account, you will have to register as a new customer again.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default truck_pannel" style="display:none">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftthirteen" aria-expanded="false">How is the puja/service performed for me?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLeftthirteen" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                As soon as we receive your request, your chosen specialist studies all the details you provide. As per the allocated slot the specialist will connect with you on phone, take your sankalp, and your puja/service will start. While the puja/service is being performed you are advised to sit in a quiet place or temple and chant the mantra which the specialist will provide you over the call while taking the sankalp, if required in that specific puja/service. A puja/service can take anywhere from 1 to 7 hours depending on what kind of puja/service you choose. Once the puja/service is done the specialist will connect with you again and transfer you all the energy and vibes created during the puja/service, this is sankalp purti and it marks the end of the puja/service booked.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default truck_pannel" style="display:none">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftforteen" aria-expanded="false">How soon can I expect the results?</a>
                                    </h4>
                                </div>
                                <div id="collapseFifteenLeftforteen" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;" role="tabpanel">
                                    <div class="panel-body">
                                        <div class="panel_cont">
                                            <p>
                                                After the puja/service is performed and all the positive vibes and energy has been transferred to you, you can expect improvement within 2-3 months. But if the purpose of the puja/service is too big, just one sankalp won't suffice, you need to repeat the puja more often till you get the desired result.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--end of /.panel-group-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>